@{
    ViewBag.Title = "Initialiser votre mot de passe";
    Layout = "~/Views/EmailTemplate/_Layout.cshtml";
}


<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td width="40%" align="center" valign="middle" style="padding:10px;">
            <img src="http://localhost/Templates/EmailTemplate/images/logo.png" width="169" height="187" style="display:block">
        </td>
        <td align="left" valign="middle" style="color:#525252; font-family:Arial, Helvetica, sans-serif; padding:10px;">
            <div style="font-size:16px;">
                Chère cliente, cher client @Model.Username,
            </div>
            <div style="font-size:12px;">
                Vous avez demander d'initialiser votre mot de passe. Merci de cliquer sur le lien suivant pour initialiser.
                <hr>
                <center>
                    <button type="button" title="Réinitialiser votre mot de passe" style="background: #1b97f1">
                        <a href="@Model.ConfirmationLink" style="font-size:22px; padding: 10px; color: #ffffff">
                            Réinitialiser votre mot de passe
                        </a>
                    </button>
              
                </center>
            </div>
        </td>
    </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center" valign="middle" style="padding:5px;">
            <img src="http://localhost:2131/Templates/EmailTemplate/images/divider.gif" width="566" height="30">
        </td>
    </tr>
</table>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:15px;">
    <tr>
        <td align="left" valign="middle" style="padding:15px; font-family:Arial, Helvetica, sans-serif;">
            <div style="font-size:20px; color:#564319;">
                <b>Votre compte est valable pour notre site et notre application JLS IMPORT </b>
            </div>
            <div style="font-size:16px; color:#525252;">
                <b>Addresse mail:</b> @Model.Username
                <br />
                <b>Entreprise:</b> @Model.Entreprise
                <br />
                <b>Numéro de téléphone:</b> @Model.Phone
            </div>
        </td>
    </tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:10px;">
    <tr>
        <td align="left" valign="middle" style="padding:15px; background-color:#564319; font-family:Arial, Helvetica, sans-serif;">
            <div style="font-size:20px; color:#fff;">
                <b>CONSEILS DE SÉCURITÉ IMPORTANTS :</b>
            </div>
            <div style="font-size:13px; color:#ffe77b;">
                <p>
                    JLS IMPORT prend très au sérieux la sécurité de votre compte. JLS IMPORT ne vous adressera jamais d'e-mail pour vous demander d'indiquer ou pour vérifier votre mot de passe JLS IMPORT, votre numéro de carte de crédit ou de compte bancaire. Si vous recevez un e-mail suspect comportant un lien pour mettre à jour les informations de votre compte, ne cliquez pas sur le lien—. Au lieu de cela, signalez cet e-mail à JLS IMPORT afin que nous puissions l'examiner.
                    Nous espérons vous revoir bientôt.
                </p>
            </div>
        </td>
    </tr>
</table>